In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter

In [24]:
def load_dataset():
    !mkdir -p dataset
    !wget -nc https://raw.githubusercontent.com/Y4rd13/sharp-graphs/main/Grupo1-393371.csv -P dataset
    df = pd.read_csv('/content/dataset/Grupo1-393371.csv', encoding='utf-8', usecols=['node(number)', 'seconds(number)'])
    
    return df

In [32]:
df = load_dataset()
node = df['node(number)']
seconds = df['seconds(number)']

File ‘dataset/Grupo1-393371.csv’ already there; not retrieving.

In [31]:
df.head()

   node(number)  seconds(number)
0             4            0.846
1             0            0.884
2             3            1.197
3             0            1.261
4             1            0.515

In [35]:
Counter(node)

Counter({0: 2839, 1: 1367, 2: 871, 3: 816, 4: 1076})